<div class="container-fluid">
    <div class="row" style="padding: 20px;">
        <form>
            <div class="form-group form-group-sm">
                <label>Keywords</label>
                <input type="text" class="form-control" placeholder="Keywords" ng-model="query.text" />
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder=".col-xs-2">
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder=".col-xs-3">
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder=".col-xs-4">
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label>Experience</label>
                <select class="form-control input-sm" ng-model="query.experience" ng-options="value.id as value.name for value in dict.experience">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label>Employment</label>
                <select class="form-control input-sm" ng-model="query.employment" ng-options="value.id as value.name for value in dict.employment">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label>Schedule</label>
                <select class="form-control input-sm" ng-model="query.schedule" ng-options="value.id as value.name for value in dict.schedule">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label>Currency</label>
                <select class="form-control input-sm" ng-model="query.currency" ng-options="value.code as value.name for value in dict.currency">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label>Salary</label>
                <input type="text" class="form-control" placeholder="Salary" ng-model="query.salary" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
        </form>
    </div>
    <div class="row">
        <leaflet lf-center="minsk" markers="markers" width="100%" height="500px"></leaflet>
        {{dict.experience|json}}
    </div>
</div>
